/* Custom Stylesheet */
.default_color {
  background-color: #792d8c !important; }

.default_color_text {
  color: #792d8c !important; }

.icon-block {
  padding: 0 15px; }

#intro {
  padding-top: 4rem; }

#work {
  padding-top: 4rem; }

#index-banner {
  min-height: 632px;
  max-height: 864px;
  position: relative;
  background-color: #792d8c; }

#nav_f {
  box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.text_h {
  padding: 15% 0;
  font-size: 6.0em;
  font-weight: 100;
  color: white; }

.brand-logo {
  position: absolute;
  color: white;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px; }

.text_h2 {
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem; }

.span_h2 {
  font-weight: 300;
  color: #792d8c; }

.text_b {
  color: #792d8c; }

.in {
  font-weight: 400 !important;
  font-style: normal !important; }

.promo i {
  color: #792d8c;
  font-size: 7rem;
  display: block; }

.card-content a {
  color: #792d8c; }

.card-content a:hover {
  color: #792d8c; }

#work {
  background: #f7f7f7; }

.text_pink {
  color: #EF9A9A; }
  
#sun_mobile{
  color: #f5f5f5; }
}  

nav ul a {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px; }
   
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* spin/move */
.rotate{
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.rotate.move{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.rotate.spin{
	animation: fa-spin 2s infinite linear;
}

   
/* --------------------------------

xtype

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden; }

.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9; }

.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite; }

.cd-headline.type .cd-words-wrapper.selected {
  background-color: #FFF; }

.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden; }

.cd-headline.type .cd-words-wrapper.selected b {
  color: #792d8c; }

.cd-headline.type b {
  visibility: hidden; }

.cd-headline.type b.is-visible {
  visibility: visible; }

.cd-headline.type i {
  position: absolute;
  visibility: hidden; }

.cd-headline.type i.in {
  position: relative;
  visibility: visible; }

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0; } }
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0; } }
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0; } }
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 1200;
  /* makes sure it stays on top */ }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

@media only screen and (max-width: 480px) {
  .text_h {
    padding: 4% 0;
    font-size: 5em;
    font-weight: 100;
    color: white; } }

/*# sourceMappingURL=main.css.map */